.container {
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  background: #444;
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #666 3px solid;
}

header h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-size: 24px;
}

.content {
  padding: 20px;
}

.section {
  border: 2px solid #28a745;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.section h2 {
  color: #333;
  margin-top: 0;
  border-bottom: 2px solid #28a745;
  padding-bottom: 10px;
}

p {
  margin: 10px 0;
}

ul {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

ul li {
  background: #eee;
  color: #333;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

ul li strong {
  color: #555;
}

